p {
   font-size: medium;

}

#Header {
   display: none;
}

.searchBarre {
   display: none;
}

.displayNone {
   display: none;
}

table {
   margin: auto;
   border-collapse: collapse;
   padding: 0cm;
   width: 90%;
}

/*
div {
    background-color: white;
}
*/

body {
   width: 98%;
   margin: auto;
   margin-top: 2px;
   margin-bottom: 2px; /*  background-image: url("images/fond.png");  */
}

.intervenants_row, .head_table_intervenants, .clients_row, .sous_traitants_row, .sous_traitants_row_suppr, .sub_title, .commande_histo_head_row, .caption_histo, .head_row, .commande_row, .row_title, .row_histo, label, p, caption, th, .text_align {
   text-align: center;
}

.sub_title, .commande_histo_head_row, .commande_histo_row, .caption_histo, label, p, caption, h3, th {
   font-family: Arial, "Arial Black", Impact, Verdana, serif;
}

caption {
   font-size: large;
   margin: auto;
   margin-top: 2px;
   margin-bottom: 2px;
}

label {
   font-size: small;
}

h3 {
   font-style: normal;
   font-weight: normal;
}

#Hearder {
   width: 100%;
   height: 70px;
}

#Footpage {
   text-align: center;
   clear: left;
   width: 100%;
}

.row_align {
   text-align: center;
}

.head_row {
   border: 1px solid blue;
}

.head_table, .table_histo {
   width: 100%;
}

.commande_row {
   border: 1px solid black;
}

.row_number {
   width: 12%;
   text-align: center;
}

.cellule_calc {
   border: 1px solid black;
}

.cellule_calc_comp {
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-top: 1px solid black;

}

.cellule_calc_comp_cost {
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
}

.row_title {
   font-size: large;
   font-family: Verdana, Arial, "Arial Black", Impact, serif;
}

.row_calc {
   width: 31%;
}

.row_histo {
   border: 1px solid black;
   position: relative;
   left: 0%;
}

/*Partie Modify Commande*/
.display_1 {
   width: 9%;
}

.display_2 {
   width: 7%;
}

.display_3 {
   width: 5%;
}

.display_4 {
   width: 12%;
}

/* Partie Create commande */
.commande_histo_head_row {
   border: 2px solid green;
   padding: 5px;
}

.commande_histo_row {
   border: 2px solid green;
}

.caption_histo, .table_histo {
   background: #dce1e2;
}

/* Partie Display */
h6, .display_heures, .display_sommes {
   font-stretch: extra-condensed;
   word-spacing: 1px;
   font-style: normal;
   font-weight: normal;
   font-size: small;
   font-family: Arial, "Arial Black", Impact, Verdana, serif;
   padding: 0px;
   margin: 0px;
}

.head_table_display {
   height: 4cm;
   width: 19cm;
   table-layout: fixed;
   empty-cells: show;
}

.display_positive, .display_negative, .display_st_sum, .display_recap {
   font-weight: bold;
   font-size: 1.4em;
}

.display_positive {
   color: green;
}

.display_negative {
   color: red;
}

.display_st_sum {
   color: blue;
}

.display_line_top {
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

.display_line_bottom {
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

.display_line_1 {
   width: 4.4%;
}

.display_line_2 {
   width: 11.4%;
}

.display_line_3 {
   width: 6%;
}

.display_line_4 {
   width: 8%;
}

.display_line_5 {
   width: 11%;
}

.display_line_6 {
   width: 9%;
}

.display_line_7 {
   width: 4%;
}

.display_line_8 {
   width: 8%;
}

.table_inside_display {
   height: 3cm;
   table-layout: fixed;
   width: 100%;
   empty-cells: show;
   padding: 0cm;
   margin: 0cm;
}

.first_line_display {
   height: 1cm;
}

.little_operator {
   width: 1%;
}

.display_sides {
   border-bottom: 1px solid black;
}

.display_bottom {
   border-bottom: 1px solid black;
}

.display_bottom_right {
   border: 1px solid black;
}

.display_text {
   font-family: Arial, "Arial Black", Verdana, serif;
   font-size: 0.9em;
   font-weight: normal;
}

.display_heures {
   position: relative;
   top: 0px;
}

.display_sommes_heures {
   font-size: 1.4em;
   font-weight: bold;
   color: black;
}

/*Partie Intervenants */

.intervenants_row {
   width: 30%;
}

.head_table_intervenants {
   table-layout: fixed;
   empty-cells: show;
   width: 100%;
}

/* Partie Clients */
.clients_row {
   width: 30%;
}

/* Partie Sous-traitants */
.sous_traitants_row {
   width: 30%;
}

.sous_traitants_row_suppr {
   width: 15%;
}

.t-beaneditor-row {
   text-align: center;
}